In [1]:
import numpy as np
import pandas as pd
import sklearn.preprocessing as preprocessing
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.model_selection as model_selection
import sklearn.linear_model as linear_model
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:

df_valid = pd.read_csv('new_valid.csv', header = 0).reset_index(drop=True)

In [3]:
valid_test = pd.concat([df_valid])
valid_test

,AGE,RACE,PCS42,MCS42,K6SUM42,SEX=1,SEX=2,MARRY=1,MARRY=2,MARRY=3,...,EMPST=4,POVCAT=1,POVCAT=2,POVCAT=3,POVCAT=4,POVCAT=5,INSCOV=1,INSCOV=2,INSCOV=3,UTILIZATION
0,44,1.0,57.76,57.06,1,0,1,1,0,0,...,0,0,0,0,0,1,1,0,0,1
1,43,1.0,59.11,54.10,3,1,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,16,1.0,-1.00,-1.00,-1,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,13,1.0,-1.00,-1.00,-1,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,66,0.0,22.45,53.13,0,1,0,0,0,1,...,1,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15670,45,0.0,29.68,59.35,0,0,1,1,0,0,...,0,0,0,0,0,1,1,0,0,1
15671,16,0.0,-1.00,-1.00,-1,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
15672,34,0.0,51.55,55.53,3,1,0,1,0,0,...,1,0,0,1,0,0,1,0,0,0
15673,29,0.0,57.49,54.20,2,0,1,1,0,0,...,1,0,0,1,0,0,0,0,1,0
15674,2,0.0,-1.00,-1.00,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [4]:
valid_test = valid_test.sample(frac=1, random_state=25).reset_index(drop=True)

In [5]:
valid_test

,AGE,RACE,PCS42,MCS42,K6SUM42,SEX=1,SEX=2,MARRY=1,MARRY=2,MARRY=3,...,EMPST=4,POVCAT=1,POVCAT=2,POVCAT=3,POVCAT=4,POVCAT=5,INSCOV=1,INSCOV=2,INSCOV=3,UTILIZATION
0,32,0.0,60.03,31.26,8,1,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
1,50,0.0,-1.00,-1.00,-1,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,33,0.0,50.21,44.30,9,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
3,23,1.0,59.11,54.10,3,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
4,5,0.0,-1.00,-1.00,-1,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15670,12,0.0,-1.00,-1.00,-1,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
15671,42,1.0,30.55,39.24,3,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,1
15672,21,0.0,-1.00,-1.00,-1,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,0
15673,56,0.0,-1.00,-1.00,-1,0,1,1,0,0,...,1,0,0,0,1,0,1,0,0,0
15674,83,1.0,57.76,57.06,0,0,1,1,0,0,...,1,0,0,0,0,1,0,1,0,0

In [6]:
valid_test['race_util'] = valid_test['RACE'].astype('str') + valid_test['UTILIZATION'].astype('str')

In [7]:
testfinal,validfinal = train_test_split(valid_test, test_size=0.5, stratify = valid_test[['race_util']], random_state=25)

In [8]:
testfinal.drop(labels=['race_util'], axis=1, inplace = True)
testfinal.to_csv('new_test2.csv', index = False)
validfinal.drop(labels=['race_util'], axis=1, inplace = True)
validfinal.to_csv('new_valid2.csv', index = False)